@import "utils";
@import "header";
@import "body";
@import "footer";
@import "sede-menu";

@font-face {
    font-family: "KFG";
    src: url("../fonts/KFG.ttf");
}

*:not(i) {
    font-family: "KFG", sans-serif;
}

body {
    height: 100vh;
    
    & .main {
        background-color: $body-color-light;
        height: 100%;
    }
}
