@import "utils";
@import "header";
@import "body";
@import "footer";
@import "sede-menu";

@font-face {
    font-family: "KFG";
    src: url("../fonts/KFG.ttf");
}

* {
    box-sizing: border-box;
}

*:not(i) {
    font-family: "KFG", sans-serif;
}

body {
    height: 100vh;
    
    &.disabled {
        overflow-y: hidden;
    }
    
    .main {
        background-color: $body-color-light;
        height: 100%;
        text-align: justify;
        transition: background-color 800ms;
        
        &.disabled {
            background-color: #000000a1;
            user-select: none;
        }
        
        &__content {
            overflow: hidden;
            height: 100%;
        }
        
        p {
            font-size: 25px;
            line-height: 40px;
            letter-spacing: -0.025em;
            font-weight: bold;
        }
    }
}
