*[role=button] {
  cursor: pointer;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
header {
  position: sticky;
  top: 0;
  height: 65px;
  background-color: #E2F0F1;
  box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.24);
  z-index: 2;
  user-select: none;
}
header .header {
  margin: 0 1.3rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__menu-btn {
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  position: relative;
}
header .header__menu-btn__burger {
  position: absolute;
  top: 0.5rem;
  right: 0;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background: #000000;
  transition: all 200ms ease-in-out;
}
header .header__menu-btn__burger.open {
  background-color: transparent;
  transform: rotate(90deg);
}
header .header__menu-btn__burger.open::before {
  transform: rotate(45deg) translate(3px, 7px);
}
header .header__menu-btn__burger.open::after {
  transform: rotate(-45deg) translate(3px, -7px);
}
header .header__menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -7px;
  right: 0;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background: #000000;
  transition: all 200ms ease-in-out;
}
header .header__menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background: #000000;
  transition: all 200ms ease-in-out;
}
header .header__surah {
  font-weight: bold;
  font-size: 1.75rem;
}
header .header__back {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  height: 25px;
  width: 25px;
}
header .header__back__icon {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
header .header__back__icon::before {
  content: "";
  height: 4px;
  width: 70%;
  display: block;
  border-radius: 2px;
  transform: rotate(45deg) translate(6px, 16px);
  background-color: black;
  position: absolute;
}
header .header__back__icon::after {
  content: "";
  height: 4px;
  width: 70%;
  display: block;
  border-radius: 2px;
  transform: rotate(-45deg) translate(-9px, -1px);
  background-color: black;
  position: absolute;
}

.side-menu {
  background-color: rgb(184, 219, 217);
  position: -ms-device-fixed;
  position: fixed;
  top: 65px;
  width: 100%;
  height: 100vh;
  transform: translate(100%, 0);
  transition: all 300ms;
  transition-timing-function: ease;
  overflow-x: hidden;
  padding: 10px;
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  .side-menu {
    width: 400px;
  }
}
.side-menu > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.side-menu.open {
  transform: translate(0, 0);
  box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.24);
}
.side-menu__btn-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.side-menu__btn-group button {
  outline: none;
  border: none;
  padding: 1px 10% 7px;
  cursor: pointer;
  background-color: #E2F0F1;
  transition: all 50ms;
  font-size: 1.5rem;
  font-weight: bold;
}
.side-menu__btn-group button:hover, .side-menu__btn-group button.active {
  background-color: rgba(22, 25, 30, 0.1607843137);
}
.side-menu__btn-group button:first-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.side-menu__btn-group button:last-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.side-menu__tab-content__tab {
  display: none;
}
.side-menu__tab-content__tab.active {
  display: block;
}

@font-face {
  font-family: "KFG";
  src: url("../fonts/KFG.ttf");
}
* {
  box-sizing: border-box;
}

*:not(i) {
  font-family: "KFG", sans-serif;
}

body {
  height: 100vh;
}
body.disabled {
  overflow-y: hidden;
}
body .main {
  background-color: #FDFDFD;
  height: 100%;
  text-align: justify;
  transition: background-color 800ms;
}
body .main .container {
  padding: 0 20px;
}
body .main.disabled {
  background-color: rgba(0, 0, 0, 0.631372549);
  user-select: none;
}
body .main__content {
  overflow: hidden;
  height: 100%;
}
body .main p {
  font-size: 25px;
  line-height: 40px;
  letter-spacing: -0.025em;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
