.header {
    background-color: #303539;
    height: 60px;
}

.header__item {
    font-size: 1.7rem !important;
    font-weight: bolder;
    display: flex;
    align-items: center;
    user-select: none;
}

.header__item i {
    display: contents;
    font-size: 2.2rem;
}

